@font-face{
    font-family: 'Permanent Marker', cursive;
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/PermanentMarker-Regular.ttf')
}

@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');

@font-face{
    font-family: "Robot", sans-serif;
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/Roboto-Regular.ttf')
}

@font-face{
    font-family: "Robot", sans-serif;
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/Roboto-Medium.ttf')
}

@font-face{
    font-family: "Robot", sans-serif;
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/Roboto-Bold.ttf')
}